<%- include('partials/header.ejs') %>
<body>
  <div class="bg-bg-img2 relative bg-center bg-cover  min-h-screen ">
    <div class="bg-gradient-to-b from-transparent to-black relative inset-0 h-screen">



      <!-- card container -->
       <div class="flex flex-col justify-center items-center h-screen">
        <!-- title -->
        <div>
         <h1 class="text-gray-400 text-4xl lg:text-6xl">Welcome Back</h1>
         <div class="border-b border-gray-400 mt-2 mx-6 lg:mt-4"></div>
        </div>
         <!--card  -->
         <div id="btn-register" class="bg-white/30 animate-pulse  rounded-sm mt-4 hover:-translate-y-1">
          <div class="flex items-center ">
            <p id="login" class="text-start p-2 text-gray-800 lg:text-xl">Login</p>
            <svg id="down-arr-svg" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="M480-360 280-560h400L480-360Z"/></svg>


          </div>
          

          <!-- hidden part -->
          <div id="hidden-part" class="p-10 pt-5 hidden">
          <form class="flex flex-col space-y-2 text-gray-700">
            <input type="text" placeholder="Email" name="email" class="p-1 rounded-t-md bg-white/40 placeholder:text-gray-600 focus:outline-none focus:ring ring-gray-200">
            <input type="password" placeholder="Password" name="password" class="p-1 rounded-t-md bg-white/40 placeholder:text-gray-600 focus:outline-none focus:ring ring-gray-200">
            <input type="submit" value="Login" class="bg-white/20 mx-auto py-1 px-2 rounded-md text-gray-700 font-medium hover:scale-105 ">
             
          </form>

          <!-- OR -->
          <div class="flex items-center my-4 text-gray-700">
            <div class="flex-1 border-t border-gray-700"></div>
            <span class="mx-4 ">OR</span>
            <div class="flex-1 border-t border-gray-700"></div>
        </div>

        <!-- Google etc... -->
         <a>Google</a>
        </div>
          

         </div>

       </div>


    </div>
    
  </div>
  


<script>

  document.getElementById("btn-register").addEventListener("click",()=>{
    document.getElementById("hidden-part").classList.remove("hidden")
    document.getElementById("btn-register").classList.remove("animate-pulse")
    document.getElementById("down-arr-svg").classList.add("hidden")
    document.getElementById("login").classList.add("hidden")
  })

</script>

</body>
</html>